@page "/AddPlaylistSong/{id}"
@using music_manager_starter.Shared

@inject HttpClient Http


<div class="p-6">

    <h2 class="text-xl font-semibold text-white">Add Song to Playlist</h2>
    <p class="text-xl font-semibold text-white">Playlist Name: @currPlaylist.Title</p>
    @foreach (var song in currPlaylist.Songs)
    {
        <li class="text-white">@song.Title</li>
    }

    <EditForm Model="selectedSong" OnValidSubmit="HandleValidSubmit">
        <DataAnnotationsValidator />
        <ValidationSummary />
        <label class="block text-gray-200">Select Songs</label>
        <select @bind="selectedSong" class="mt-1 block w-full p-2 border rounded">
            <option value="">Select a song...</option>
            @foreach (var song in availableSongs)
            {
                <option value="@song.Id">@song.Title</option>
            }
        </select>
        <button type="submit" class="bg-purple-600 text-white px-4 py-2 rounded">Add Song to Playlist</button>
    </EditForm>
    @if (message != null)
    {
        <p class="mt-4 text-green-500">@message</p>
    }

</div>

@code {
    [Parameter]
    public string id { get; set; }

    private string ItemId;

    private Playlist currPlaylist;
    private Song songToAdd;

    private List<Song> availableSongs = new List<Song>(); 
    private Guid selectedSong;
    private string message;


    protected override async Task OnInitializedAsync()
    {
        ItemId = id;
        currPlaylist = await Http.GetFromJsonAsync<Playlist>($"api/playlists/{id}");
        availableSongs = await Http.GetFromJsonAsync<List<Song>>("api/songs");
        availableSongs = availableSongs ?? new List<Song>();
    }
    private async Task HandleValidSubmit()
    {
        Console.WriteLine(selectedSong);

        songToAdd = availableSongs.FirstOrDefault(s => s.Id == selectedSong);
        Console.WriteLine(currPlaylist.Songs[0].Title);
        var response = await Http.PutAsJsonAsync($"api/playlists/AddSong/{id}", songToAdd);
        if (response.IsSuccessStatusCode)
        {
            currPlaylist = await response.Content.ReadFromJsonAsync<Playlist>();
            message = "Song added successfully!";
        }
        else
        {
            message = "Error adding song to playlist. Please try again.";
        }
    }
}